[package]
name = "rust_lib_my_app"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]


[dependencies]
flutter_rust_bridge = "=2.7.0"
irondash_texture = { version = "0.5.0" }
irondash_run_loop = { version = "0.5.0" }
irondash_dart_ffi = "0.2.0"
simple_logger = "2.1"
log = "0.4"
anyhow = "1.0.81"
async-trait = "0.1.77"
tokio = { version = "1", features = ["full"] }
flume = "0.11.1"
simple-log = "2.1.1"
irondash_engine_context = "0.5.0"
image = "0.25.5"
lazy_static = "1.5.0"
glib-sys = "0.18.1"
gobject-sys = "0.18.0"
gdk-sys = "0.18.0"
gtk-sys = "0.18.0"
gl_loader = "0.1.2"
glow = "0.16.0"
glib = { git = "https://github.com/gtk-rs/gtk-rs-core", branch = "main" }
glib-macros = {git = "https://github.com/gtk-rs/gtk-rs-core", branch = "main" }
gst = {package = "gstreamer", git = "https://gitlab.freedesktop.org/gstreamer/gstreamer-rs", branch = "main", features = ["v1_16"]}
gst-gl = { git = "https://gitlab.freedesktop.org/gstreamer/gstreamer-rs", branch = "main", package = "gstreamer-gl" , features = ["v1_16"]}
gst-gl-sys = { git = "https://gitlab.freedesktop.org/gstreamer/gstreamer-rs", branch = "main", package = "gstreamer-gl-sys" , features = ["v1_16"]}
gst-gl-egl = { git = "https://gitlab.freedesktop.org/gstreamer/gstreamer-rs", branch = "main", package = "gstreamer-gl-egl" , features = ["v1_16"]}
gst-video = { git = "https://gitlab.freedesktop.org/gstreamer/gstreamer-rs", branch = "main", package = "gstreamer-video" , features = ["v1_16"]}
gst-base = { git = "https://gitlab.freedesktop.org/gstreamer/gstreamer-rs", branch = "main", package = "gstreamer-base", features = ["v1_16"] }
gst-allocators = { git = "https://gitlab.freedesktop.org/gstreamer/gstreamer-rs", branch = "main", package = "gstreamer-allocators", features = ["v1_24"] }
rayon = "1.10.0"
gleam = "0.15.0"
